page-servicehome {
    ion-input{
        border:1px solid #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 4px #c2c2c2;
    }
    .btn-primary {
        background-color: #c7143b;
    }
}
